<h1>hello applicant</h1>
<h3>Your interview is scheduled on</h3> 
<p>
  
  <h4>Date:<%= @object.date %></h1>
</p>

<p>
  
  <h4>Address:<%= @object.address %></h1>
</p>
 

  

  <h4>thanks</h4>
  <h4>admin team</h4>