 <h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= link_to 'Show', job_path(job) %></td>
      
    </tr>
  <% end %>
</table>

